doctype html
html
  head
    title freeCodeCamp Request Header Parser
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='stylesheets/style.css')
  body
    .container
      h1 FCC API Basejump: Request Header Parser
      p This application fulfills the #[a(href="http://www.freecodecamp.com/challenges/request-header-parser-microservice") second API Basejump] as part of Free Code Camp's JavaScript curriculum.
      p Sending a GET request to #[a(href="/whoami") blah] will result in a JSON object that lists the ip address, language, and operating system of the device making the request.
